<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="tittle">
        <h1><a href="/home">ThiTot</a></h1>
    </div>
    <div id="wrapper">
        <form action="/login" id="form-login" method="post">
            <h2>Login</h2>
            <div class="input-box">
                <input type="text" class="User" placeholder="Username" name="username">
                <i class='bx bx-user-circle'></i>

            </div>
            <div class="input-box">
                <input type="password" id="password" class="Password" placeholder="Password" name="password">
                <i style="cursor: pointer" onclick="togglePassword()" class='bx bxs-lock-open' ></i>
            </div>

            <div class="remember-fogot">
                <label name="remember"><input type="checkbox">Remember me</label>
                <a href="#">Forgot password?</a>
            </div>
            <div th:if="${error}" id="error-message" class="error">
                <p th:text="${error}"></p>
            </div>
            <button class="btn" type="submit">Login</button>

        </form>
    </div>
    <script>
        function togglePassword() {
            var input = document.getElementById("password");
            input.type = (input.type === "password") ? "text" : "password";
        }
        window.addEventListener("DOMContentLoaded", () => {
            const errorBox = document.getElementById("error-message");
            if (errorBox) {
                setTimeout(() => {
                    errorBox.style.transition = "opacity 0.5s";
                    errorBox.style.opacity = "0";
                    setTimeout(() => errorBox.remove(), 500); // xóa hẳn khỏi DOM
                }, 3000); // 3 giây
            }
        });
    </script>
</body>


</html>